<div class="container">
    <div id="logo">
        <h2>Scrum Poker</h2>
    </div>
    <div class="row content">
        <div class="col-md-4 story-list" [ngClass]="{
                'col-md-4': isScrumMaster,
                'col-md-7': !isScrumMaster
            }">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Story</th>
                        <th>Story Point</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let story of session.stories">
                        <td>
                            <a href="javascript:;" (click)="activeStory = story">
                                {{ story.name }}</a>
                        </td>
                        <td>{{ story.numberOfVoters }}</td>
                        <td>{{ story.status }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 fibonacci">
            <!-- {{ activeStory.name }} -->
            <div class="row">
                <a href="javascript:;" (click)="vote(fbNumber)" 
                                        *ngFor="let fbNumber of fbNumbers"
                                        [ngClass]="{'disable': voted }">
                    <div class="col-md-3" [ngClass]="{'voted': fbNumber.voted}">
                        <span>{{ fbNumber.number }} </span>
                        <span>{{ fbNumber.voted }} </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 scrum-master-portal" *ngIf="isScrumMaster">
            {{ activeStory.name }} is active
            <ul>
                <li *ngFor="let voter of activeVoterNumbers; let i = index">
                    Voter {{ i + 1}} : 
                </li>
            </ul>
        </div>
    </div>
</div>


{{ session | json}}

{{ fibNumbers | json }}