<div class="container">
    <div id="logo">
        <h2>Scrum Poker</h2>
    </div>
    <div class="row">
        <span>please share link of developers panel to the teammates.</span>
        <a href="javascript:;" [routerLink]="['/poker-planning-view-as-developer/', session.id]">
            {{ '/poker-planning-view-as-developer/' + session.id}}
        </a>
    </div>
    <div class="row content">
        <div class="col-md-4 story-list" [ngClass]="{
                'col-md-4': isScrumMaster,
                'col-md-7': !isScrumMaster
            }">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Story</th>
                        <th>Story Point</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let story of session.stories">
                        <td [ngClass]="{'active': activeStory == story }">
                            <a href="javascript:;" *ngIf="isScrumMaster"
                                                (click)="updateActiveStory(story)">
                                <span>{{ story.name }}</span>
                            </a>
                            <span *ngIf="!isScrumMaster">{{ story.name }}</span>
                        </td>
                        <td>{{ story.numberOfVoters }}</td>
                        <td>{{ story.status }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 fibonacci">
            <!-- {{ activeStory.name }} -->
            <div class="row">
                <ng-container *ngFor="let card of activeStory.cards; let i = index">
                    <a href="javascript:;" (click)="vote(i)" [ngClass]="{'disable': voted }">
                        <div class="col-md-3" [ngClass]="{'voted': isVoted(card.voterIds)}">
                            <span>{{ card.number }} </span>
                        </div>
                    </a>
                </ng-container>
            </div>
        </div>
        <div class="col-md-4 scrum-master-portal" *ngIf="isScrumMaster">
            <span>{{ activeStory.name }} is active</span>
            <ul>
                <li *ngFor="let voter of session.voters; let i = index">
                    <span>{{ isScrumMaster ? 'Scrum Master' : 'Voter' }} {{ i + 1}} : {{ voter }}</span>
                </li>
            </ul>
            <div class="row">
                <div class="col-md-12">
                    <div class="button">
                        <button type="submit" class="btn btn-success" [disabled]="session.voters !== session.numberOfVoters">
                            End voting for {{ activeStory.name }}
                        </button>
                    </div>
                    <div>
                        <span>You can not end voting till each voted</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>